#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Red scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px !important;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: black !important;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1c9b7a !important;
  border-radius: 6px !important;
}

.button_border {
  border-radius: 14px;
  margin: 10px auto;
  border: 1px solid red;
  width: fit-content;
}

.featurs-list ul {
  /* width: 100%; */
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.featurs-list ul li {
  width: 50%;
  margin: 5px 0;
  list-style-type: disc;
}
/* .prose ul li::before {
  content: "";
  width: 0.8rem !important;
  height: 0.8rem !important;
  background-color: #078147;
  border-radius: 9999px;
  flex-shrink: 0;
} */

.rdrDefinedRangesWrapper {
  display: none !important;
}

.featurs-list ul li::marker {
  color: #078147; /* bullet color */
  font-size: 1.2rem; /* bullet size */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
